Body{
  background-color: #E6ECF0;
  margin: 0%;
  display: block;
}
header{
  background-color: white;
  height: 4em;
  width: 100%;
}
#navTool{
  display: inline-block;
  width: 40%;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #cc3366;

}
#twitterCenter{
  justify-content: center;
  font-size: 2em;
}
#profile {
  width: 1.5em;
  position: relative;
  bottom: 30%;
  right: 0%;
}

li {
  text-decoration: none;
  display: inline-block;
  box-sizing: border-box;
}
#Search{
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
}
#tweet{
  right: 0%;
}

#bnt-tweet{
  width: 5em;
  height: 2em;
}
#imagen-left {
  float: right;
  width: 25%;
}

#block-center{
  position: absolute;
  left: 35%;
  top:20%;
}
#twetear, #First-block{
  width: 20em;
  margin-top: 3%;
  margin-left: 5%;
}
#element{
position: absolute;
top: 40%;
width: 20em;
}
#last-block{
  position: absolute;
  top: 18%;
  left: 75%;
}
#text{
  background: #F9EAEF;
  border-radius: 5%;
  width: 30em;
}
#textThink {
  width: 28em;
  border-radius: 5%;
  margin-left: 2em;
  margin-bottom: 1em;
}
#twetear{
  position:relative;
  bottom: 45%;
}
